<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CSAccountSvr.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CSAccountDB;Integrated Security=True"-->
    <add name="CSAccountDatabaseIntf.My.MySettings.CSAccountDBConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CSAccountDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.runtime.remoting>
		<application>
			<customErrors mode="Off"/>
			<channels>
				<channel displayName="TCP Channel"  ref="tcp" port="5000">
					<serverProviders>
						<provider type="CSCommon.CompressionServerSinkProvider, CSCommon"/>
						<formatter ref="binary"/>
					</serverProviders>
				</channel>
			</channels>
			<service>
				<wellknown displayName="CSSystemManager"
        mode="Singleton"
        type="CSAccountSvr.CSSystemManager, CSAccountSvr"
        objectUri="CSSystemManager.rem"
        />
			</service>
			<!--service>
				<wellknown displayName="CSMasterData"  
						  mode="Singleton"
						  type="ServerForm.CSMasterData, ServerForm"
						  objectUri="CSMasterData.rem" 
        />
			</service -->
			<lifetime leaseTime="1S" renewOnCallTime="1S" sponsorshipTimeout="1S"/>
		</application>
	</system.runtime.remoting>
  <applicationSettings>
    <CSAccountSvr.My.MySettings>
      <setting name="CompDBPath" serializeAs="String">
        <value>C:\CynicsDB\</value>
      </setting>
    </CSAccountSvr.My.MySettings>
  </applicationSettings>
</configuration>